<!-- templates/users/profile.html -->
<h2>Личный кабинет</h2>

<p>Добро пожаловать, {{ user.username }}!</p>

<h3>Ваши аренды:</h3>
<table>
    <thead>
        <tr>
            <th>Автомобиль</th>
            <th>Дата аренды</th>
            <th>Дата возврата</th>
            <th>Цена аренды</th> <!-- Новый столбец -->
        </tr>
    </thead>
    <tbody>
        {% for rental in rentals %}
            <tr>
                <td>{{ rental.car.make }} {{ rental.car.model }}</td>
                <td>{{ rental.rental_date }}</td>
                <td>{{ rental.return_date }}</td>
                <td>{{ rental.car.price_per_day }} USD</td> <!-- Отображение цены -->
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">У вас нет аренды.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'car-list' %}">Перейти к списку автомобилей</a>
